<!doctype html>
<html ng-app="myApp">

<head>
    <title>Pokedex</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="myController">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header"> <a class="navbar-brand" href="#">Pokedex</a> </div>
            <div class="navbar-right">
                <button class="btn btn-default" ng-click="prevPage()">Previous 20</span></button>
                <button class="btn btn-default" ng-click="nextPage()">Next 20</span></button>
            </div>
        </div>
    </nav>
    
    <main class="container">
        <div class="row">
            <div class="col-xs12 col-sm-12" ng-repeat="pokemon in model">
                <div class="panel panel-primary">
                    <div class="panel-heading pane">{{pokemon.name | capitalize}}</div>
                    <div class="panel-body">
                        <button class="btn btn-primary" ng-click="getSpecies(pokemon.name); moreInfo = !moreInfo">More Info</button>
                        <p ng-show="moreInfo">
                            ID: <span class="info">{{species.id}}</span></br>
                            Color: <span class="info">{{species.color.name}}</span></br>
                            Base Happiness: <span class="info">{{species.base_happiness}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="/scripts/modules/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="/scripts/app.js" type="text/javascript"></script>
    <script src="/scripts/modules/pokedex.js" type="text/javascript"></script>
</body>

</html>